
@keyframes dropdownAnimacia {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}
@keyframes podsekciaAnimacia {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}

@keyframes uvod-animacia{
  0% {top: 200px;}
  100% {top: -50px;}}



body {
  margin: 0;
  font-family: 'Sen';
  font-weight: 400;
  margin-bottom:250px;
  background-color: #F7FBFC;
  color:black;
}




 h3{                /* text nad navbarom */
      font-size: 35px;
      margin-bottom: 30px;
      text-align: center;
      

      
    }
h3 img{             /* ikony nad navbarom */
  width: 2.5rem;
  position: relative;
  top: 7px;
  margin-left:10px;
  margin-right:10px;
}


.navbar-sekcia-cela{
  margin-top: 50px;
}
.navbar-sekcia-cela a{
text-decoration: none;

}

.navbar-sekcia-cela li{
text-decoration: none;
}
.navbar{ /* navbar lista */

  justify-content: center;
  width: 100%;
  display: flex;
  padding-left:0;
  background-image: linear-gradient(to left, #212A3E, #9BA4B5);
  /* background-image: linear-gradient(to right, #474F7A, #81689D); */
  /* background-image: linear-gradient(to right, #6C22A6, #6962AD); */
}
 .dropdown-tlacidlo{
   /* background: #212A3E; */
   /* padding: 23px 55px; */
   padding: 1.4375rem 3.4375rem;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   position: relative;
   /* font-size: 20px; */
   font-size: 1.25rem;
   perspective: 1000px;
   z-index: 3;
   &:hover{
     background: #475572 ;
     cursor: pointer;
   }
   &:hover .dropdown-menu-tlacidla .dropdown_tlacidla{
     display: block;}}
   

 .dropdown-menu-tlacidla{
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   perspective: 1000px;
   z-index: 1;
   padding-left:0;
   li{
    display: none;
    color: white;
    background-color: #34495e;
    /* padding: 10px 20px; */
    /* font-size: 16px; */
    padding: 0.625rem 1.25rem; /* Adjust padding */
    font-size: 1rem; /* Adjust font size */
    opacity: 0;
    &:hover{
      background-color: #516579;
    }}}

    
.dropdown:hover .dropdown-menu-tlacidla--animated{
  display: block;}

.dropdown-menu-tlacidla--animated{
  display: none;
    li{
      display: block;
      opacity: 1
    }}

  .dropdown_teoria{
    transform-origin: top center;
    animation: dropdownAnimacia 300ms 60ms ease-in-out forwards;
  }
  .dropdown_priklady{
    transform-origin: top center;
    animation: dropdownAnimacia 300ms 120ms ease-in-out forwards;
  }
  .dropdown_video{
    transform-origin: top center;
    animation: dropdownAnimacia 300ms 180ms ease-in-out forwards;
  }



  .dropdown-podtlacidlo{
    /* background: #212A3E; */
    padding: 23px 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    font-size: 20px;
    perspective: 1000px;
    z-index: 3;
    &:hover{
      background: #475572 ;
      cursor: pointer;
    }
    &:hover .dropdown-menu-podtlacidla .dropdown_podtlacidlo{
      display: block;}}

  .dropdown-menu-podtlacidla{
    position: absolute;
    top: 0%;
    left: 100%;
    width: 100%;
    perspective: 1000px;
    z-index: 1;
    padding-left:0;
    li{
      display: none;
      color: white;
      background-color: #1F2544;
      padding: 10px 20px;
      font-size: 16px;
      opacity: 0;
      &:hover{
        background-color: #2D3250;
      }}}
      .dropdown-menu-podtlacidla--animated{
        display: none;
          li{
            display: block;
            opacity: 1
          }}

          .podsekcia1{
            transform-origin: top right;
            animation: podsekciaAnimacia 300ms 60ms ease-in-out forwards;
          }
          .podsekcia2{
            transform-origin: top right;
            animation: podsekciaAnimacia 300ms 120ms ease-in-out forwards;
          }
          .podsekcia3{
            transform-origin: top right;
            animation: podsekciaAnimacia 300ms 180ms ease-in-out forwards;
          }
          .podsekcia4{
            transform-origin: top right;
            animation: podsekciaAnimacia 300ms 240ms ease-in-out forwards;
          }

  .skolske-logo{
    position: absolute;
    top:25px;
    right:50px;
    width:6rem;
    height:5.7rem;
  }



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin:auto;
  justify-content: center;
  max-width: 1500px;
  padding-left:300px;
}

.grid-text-sekcia {
  text-align: center;
  
}

.grid-fotka-sekcia img {
  max-width: 100%;
  
  height: auto;
  display: block;
  width:27rem;
  
}





  .sekcia-uvod {
      margin-top:130px;
      text-align: left;
      position: relative;
      animation: uvod-animacia;
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
  }
  .sekcia-uvod h2{
      font-weight: 400;
      font-size:2.7rem;
      color:#2d2e47
  }
  .sekcia-uvod p{
      font-size:1rem;
      line-height: 30px;
      padding-right:80px;
  }
  /* /SEKCIA UVOD */
  @media screen and (min-width:10px) and (max-width:1550px){
    .grid-container {

      grid-template-columns: 1fr 1fr;
      max-width: 1500px;
      padding-left:210px;
    }
    .grid-fotka-sekcia img {
      max-width: 100%;
      height: auto;
      display: block;
      width:27rem;
      
    }
    .sekcia-uvod {
      margin-top:130px;
      text-align: left;
      position: relative;
      animation: uvod-animacia;
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
  }
  .sekcia-uvod h2{
      font-weight: 400;
      font-size:2.7rem;
      color:#2d2e47
  }
  .sekcia-uvod p{
      font-size:1rem;
      line-height: 30px;
      padding-right:80px;
  }
  }