@keyframes hoverFade{
  from {color: #818181;}
  to {color: #f1f1f1;}
}
@keyframes dropdownAnimacia {
  0% {
    opacity: 0;
    transform: rotateX(-90deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg);
  }
}




body {
  margin: 0;
  font-family: 'Sen';
  font-weight: 400;
  margin-bottom:250px;
  background-color: #F7FBFC;
  color:black;
}

.navbar-sekcia-cela{
    margin-top: 50px;
  }
.navbar-sekcia-cela a{
  text-decoration: none;
}

 h3{
      font-size: 35px;
      margin-bottom: 30px;
      text-align: center;

      
    }
h3 img{
  width: 2.5rem;
  position: relative;
  top: 7px;
  margin-left:10px;
  margin-right:10px;
}


.navbar-sekcia-cela:nth-child(3){
    margin-top: 200px;
  }



.navbar{
  display: flex;
  justify-content: center;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-left:0;
  background-image: linear-gradient(to left, #212A3E, #9BA4B5);
/* background-color: #9BA4B5; */
}
 .dropdown-tlacidlo{
   /* background: #212A3E; */
   padding: 23px 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: white;
   position: relative;
   font-size: 20px;
   perspective: 1000px;
   z-index: 3;
   &:hover{
     background: #475572 ;
     cursor: pointer;
   }
   &:hover .dropdown-menu-tlacidla li{
     display: block;}}
   

 .dropdown-menu-tlacidla{
   position: absolute;
   top: 100%;
   left: 0;
   width: 100%;
   perspective: 1000px;
   z-index: 1;
   padding-left:0;
   li{
    display: none;
    color: white;
    background-color: #34495e;
    padding: 10px 20px;
    font-size: 16px;
    opacity: 0;
    &:hover{
      background-color: #516579;
    }}}
  
    
.dropdown:hover .dropdown-menu-tlacidla--animated{
  display: block;}

.dropdown-menu-tlacidla--animated{
  display: none;
    li{
      display: block;
      opacity: 1
    }}



  .dropdown_teoria{
    transform-origin: top center;
    animation: dropdownAnimacia 300ms 60ms ease-in-out forwards;
  }
  .dropdown_priklady{
    transform-origin: top center;
    animation: dropdownAnimacia 300ms 120ms ease-in-out forwards;
  }
  .dropdown_video{
    transform-origin: top center;
    animation: dropdownAnimacia 300ms 180ms ease-in-out forwards;
  }




  .skolske-logo{
    position: absolute;
    top:25px;
    right:50px;
    width:6rem;
    height:5.7rem;
  }



.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin:auto;
  justify-content: center;
  max-width: 1500px;
  padding-left:400px;
}

.grid-text-sekcia {
  text-align: center;
}

.grid-fotka-sekcia img {
  max-width: 100%;
  height: auto;
  display: block;
  width:27rem;
}







  .sekcia-uvod {
      margin-top:130px;
      text-align: left;
      
      /* padding-left: 20vw;
      padding-right:10vw; */
      /* justify-content: center; */
  }
  .sekcia-uvod h2{
      font-weight: 400;
      font-size:2.7rem;
      color:#2d2e47
  }
  .sekcia-uvod p{
      font-size:1rem;
      line-height: 30px;
      padding-right:80px;
  }
  /* /SEKCIA UVOD */
